pipeline/SetVariable.json
{
	"name": "SetVariable",
	"properties": {
		"activities": [
			{
				"name": "Set i",
				"description": "",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Increment J",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [
					{
						"name": "name",
						"value": "sunil"
					}
				],
				"typeProperties": {
					"variableName": "i",
					"value": {
						"value": "@variables('j')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Increment J",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "j",
					"value": {
						"value": "@string(add(int(variables('i')),1))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Append variable1",
				"type": "AppendVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "appendme",
					"value": "1"
				}
			},
			{
				"name": "Filter1",
				"type": "Filter",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.inputs",
						"type": "Expression"
					},
					"condition": {
						"value": "@greater(item(),3)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Filter1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('Filter1').output",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "test",
								"value": "@string(item()\n"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"inputs": {
				"type": "array",
				"defaultValue": [
					1,
					2,
					3,
					4,
					5,
					6
				]
			}
		},
		"variables": {
			"j": {
				"type": "String",
				"defaultValue": "1"
			},
			"i": {
				"type": "String",
				"defaultValue": "1"
			},
			"appendme": {
				"type": "Array"
			},
			"test": {
				"type": "String"
			}
		},
		"annotations": []
	}
}