pipeline/SetVariable.json
{
	"name": "SetVariable",
	"properties": {
		"activities": [
			{
				"name": "Set i",
				"description": "@variables('j')",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Increment J",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [
					{
						"name": "name",
						"value": "sunil"
					}
				],
				"typeProperties": {
					"variableName": "j",
					"value": "@variables('j')"
				}
			},
			{
				"name": "Increment J",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "j",
					"value": "@string(add(int(variables('i')),1))"
				}
			}
		],
		"variables": {
			"j": {
				"type": "String",
				"defaultValue": "1"
			}
		},
		"annotations": []
	}
}