templates/SetVariable/SetVariable.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/SetVariable')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Set i",
						"description": "",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Increment J",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [
							{
								"name": "name",
								"value": "sunil"
							}
						],
						"typeProperties": {
							"variableName": "i",
							"value": {
								"value": "@variables('j')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Increment J",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "j",
							"value": {
								"value": "@string(add(int(variables('i')),1))",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Append variable1",
						"type": "AppendVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "appendme",
							"value": "1"
						}
					}
				],
				"variables": {
					"j": {
						"type": "String",
						"defaultValue": "1"
					},
					"i": {
						"type": "String",
						"defaultValue": "1"
					},
					"appendme": {
						"type": "Array"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		}
	]
}